<app-nav></app-nav>
        <!-- Breadcrumb Starts Here -->
        <!-- <div class="py-0">
            <div class="container">
                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb align-items-center bg-transparent mb-0">
                        <li class="breadcrumb-item"><a href="index.html" class="fs-6 text-secondary">Home</a></li>
                        <li class="breadcrumb-item fs-6 text-secondary" aria-current="page">My Profile</li>
                    </ol>
                </nav>
            </div>
        </div> -->

        <!-- Students Info area Starts Here -->
        <section class="section students-info" style="background-color: #ebebf2;">
            <div class="container">
                <div class="students-info-intro">
                    <!-- profile Details   -->
                    <div class="students-info-intro__profile">
                        <div>
                            <div class="students-info-intro-start">
                                <div class="image">
                                    <img src="{{SubscriberDetail.image!=''?SubscriberDetail.image:'https://cdn-icons-png.flaticon.com/512/3135/3135715.png'}}" alt="Student" />
                                </div>
                                <div class="text">
                                    <h5>{{SubscriberDetail.firstname}} {{SubscriberDetail.lastname}}</h5>
                                    <p>{{SubscriberDetail.job}}</p>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="students-info-intro-end">
                                <div class="enrolled-courses">
                                    <div class="enrolled-courses-icon">
                                        <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M1 1.625H8.8C10.1791 1.625 11.5018 2.15764 12.477 3.10574C13.4521 4.05384 14 5.33974 14 6.68056V24.375C14 23.3694 13.5891 22.405 12.8577 21.6939C12.1263 20.9828 11.1343 20.5833 10.1 20.5833H1V1.625Z"
                                                stroke="#1089FF"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path
                                                d="M27 1.625H19.2C17.8209 1.625 16.4982 2.15764 15.523 3.10574C14.5479 4.05384 14 5.33974 14 6.68056V24.375C14 23.3694 14.4109 22.405 15.1423 21.6939C15.8737 20.9828 16.8657 20.5833 17.9 20.5833H27V1.625Z"
                                                stroke="#1089FF"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                        </svg>
                                    </div>
                                    <div class="enrolled-courses-text">
                                        <h6 class="font-title--xs">{{TotalEnrollCourse.data}}</h6>
                                        <p class="fs-6 mt-1">Enrolled Courses</p>
                                    </div>
                                </div>
                                <!-- <div class="completed-courses">
                                    <div class="completed-courses-icon">
                                        <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                fill-rule="evenodd"
                                                clip-rule="evenodd"
                                                d="M19.1716 3.95235C19.715 4.14258 20.078 4.65484 20.078 5.23051V13.6518C20.078 16.0054 19.2226 18.2522 17.7119 19.9929C16.9522 20.8694 15.9911 21.552 14.9703 22.1041L10.5465 24.4938L6.11516 22.1028C5.09312 21.5508 4.13077 20.8694 3.36983 19.9916C1.85791 18.2509 1 16.0029 1 13.6468V5.23051C1 4.65484 1.36306 4.14258 1.90641 3.95235L10.0902 1.07647C10.3811 0.974511 10.6982 0.974511 10.9879 1.07647L19.1716 3.95235Z"
                                                stroke="#00AF91"
                                                stroke-width="2"
                                                stroke-linecap="round"
                                                stroke-linejoin="round"
                                            />
                                            <path d="M7.30688 12.4002L9.65931 14.7538L14.5059 9.90723" stroke="#00AF91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                        </svg>
                                    </div>
                                    <div class="completed-courses-text">
                                        <h5 class="font-title--xs">19</h5>
                                        <p class="fs-6 mt-1">Completed Courses</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <!-- Nav  -->
                    <nav class="students-info-intro__nav">
                        <div class="nav" id="nav-tab" role="tablist">
                            <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">My Profile</button>

                            <button class="nav-link" id="nav-coursesall-tab" data-bs-toggle="tab" data-bs-target="#nav-coursesall" type="button" role="tab" aria-controls="nav-coursesall" aria-selected="false">All Courses</button>
<!-- 
                            <button class="nav-link" id="nav-activecourses-tab" data-bs-toggle="tab" data-bs-target="#nav-activecourses" type="button" role="tab" aria-controls="nav-activecourses" aria-selected="false">
                                Active Courses
                            </button> -->

                            <!-- <button class="nav-link" id="nav-completedcourses-tab" data-bs-toggle="tab" data-bs-target="#nav-completedcourses" type="button" role="tab" aria-controls="nav-completedcourses" aria-selected="false">
                                Completed Courses
                            </button> -->

                            <!-- <button class="nav-link" id="nav-purchase-tab" data-bs-toggle="tab" data-bs-target="#nav-purchase" type="button" role="tab" aria-controls="nav-purchase" aria-selected="false">Purchase History</button> -->

                            <button class="nav-link" id="nav-setting-tab" data-bs-toggle="tab" data-bs-target="#nav-setting" type="button" role="tab" aria-controls="nav-setting" aria-selected="false">Setting</button>

                            <!-- <button class="nav-link" id="nav-logout-tab" data-bs-toggle="tab" data-bs-target="#nav-logout" type="button" role="tab" aria-controls="nav-logout-tab" aria-selected="false">Logout</button> -->
                        </div>
                    </nav>
                </div>

                <div class="row students-info-intro d-none">
                    <div class="col-lg-6">
                        <div class="students-info-intro-start">
                            <div class="image">
                                <img src="https://eduguard-html.netlify.app/dist/images/user/user-img-01.jpg" alt="Student" />
                            </div>
                            <div class="text">
                                <h5>Phillip Bergson</h5>
                                <p>UI/UX Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="students-info-intro-end">
                            <div class="enrolled-courses">
                                <div class="enrolled-courses-icon">
                                    <svg width="28" height="26" viewBox="0 0 28 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1 1.625H8.8C10.1791 1.625 11.5018 2.15764 12.477 3.10574C13.4521 4.05384 14 5.33974 14 6.68056V24.375C14 23.3694 13.5891 22.405 12.8577 21.6939C12.1263 20.9828 11.1343 20.5833 10.1 20.5833H1V1.625Z"
                                            stroke="#1089FF"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path
                                            d="M27 1.625H19.2C17.8209 1.625 16.4982 2.15764 15.523 3.10574C14.5479 4.05384 14 5.33974 14 6.68056V24.375C14 23.3694 14.4109 22.405 15.1423 21.6939C15.8737 20.9828 16.8657 20.5833 17.9 20.5833H27V1.625Z"
                                            stroke="#1089FF"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                    </svg>
                                </div>
                                <div class="enrolled-courses-text">
                                    <h6 class="font-title--xs">24</h6>
                                    <p class="fs-6 mt-1">Enrolled Courses</p>
                                </div>
                            </div>
                            <div class="completed-courses">
                                <div class="completed-courses-icon">
                                    <svg width="22" height="26" viewBox="0 0 22 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            fill-rule="evenodd"
                                            clip-rule="evenodd"
                                            d="M19.1716 3.95235C19.715 4.14258 20.078 4.65484 20.078 5.23051V13.6518C20.078 16.0054 19.2226 18.2522 17.7119 19.9929C16.9522 20.8694 15.9911 21.552 14.9703 22.1041L10.5465 24.4938L6.11516 22.1028C5.09312 21.5508 4.13077 20.8694 3.36983 19.9916C1.85791 18.2509 1 16.0029 1 13.6468V5.23051C1 4.65484 1.36306 4.14258 1.90641 3.95235L10.0902 1.07647C10.3811 0.974511 10.6982 0.974511 10.9879 1.07647L19.1716 3.95235Z"
                                            stroke="#00AF91"
                                            stroke-width="2"
                                            stroke-linecap="round"
                                            stroke-linejoin="round"
                                        />
                                        <path d="M7.30688 12.4002L9.65931 14.7538L14.5059 9.90723" stroke="#00AF91" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                                <div class="completed-courses-text">
                                    <h5 class="font-title--xs">19</h5>
                                    <p class="fs-6 mt-1">Completed Courses</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <nav>
                            <div class="nav" id="nav-tab" role="tablist">
                                <button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">My Profile</button>

                                <button class="nav-link" id="nav-coursesall-tab" data-bs-toggle="tab" data-bs-target="#nav-coursesall" type="button" role="tab" aria-controls="nav-coursesall" aria-selected="false">All Courses</button>

                                <button class="nav-link" id="nav-activecourses-tab" data-bs-toggle="tab" data-bs-target="#nav-activecourses" type="button" role="tab" aria-controls="nav-activecourses" aria-selected="false">
                                    Active Courses
                                </button>

                                <button class="nav-link" id="nav-completedcourses-tab" data-bs-toggle="tab" data-bs-target="#nav-completedcourses" type="button" role="tab" aria-controls="nav-completedcourses" aria-selected="false">
                                    Completed Courses
                                </button>

                                <button class="nav-link" id="nav-purchase-tab" data-bs-toggle="tab" data-bs-target="#nav-purchase" type="button" role="tab" aria-controls="nav-purchase" aria-selected="false">Purchase History</button>

                                <button class="nav-link" id="nav-setting-tab" data-bs-toggle="tab" data-bs-target="#nav-setting" type="button" role="tab" aria-controls="nav-setting" aria-selected="false">Setting</button>

                                <button class="nav-link" id="nav-logout-tab" data-bs-toggle="tab" data-bs-target="#nav-logout" type="button" role="tab" aria-controls="nav-logout-tab" aria-selected="false">Logout</button>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="students-info-main">
                    <div class="tab-content" id="nav-tabContent" >
                        <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                            <div class="tab-content__profile">
                                <!-- <div class="tab-content__profile-content">
                                    <div class="about-student">
                                        <h6 class="font-title--card">About Me</h6>
                                        <p class="font-para--md">
                                            Hello my name is Tanya. I am a designer. My personal qualities are responsibility, as I bring everything to its logical conclusion, determination, never rest on my laurels, always open to change
                                            and something new. In my arsenal there are such programs as Adobe Photoshop, Illustrator, InDesign, Figma, also some Maya, 3ds Max ZBrush, Substance Painter, Marvelous Designer. Lorem ipsum dolor
                                            sit amet consectetur, adipisicing elit. Animi, voluptatum.
                                        </p>
                                    </div>
                                </div> -->
                                <div class="tab-content__profile-content">
                                    <div class="info-student">
                                        <h6 class="font-title--card">{{SubscriberDetail.firstname}} Information</h6>
                                        <dl class="row my-0 info-student-topic">
                                            <dt class="col-sm-4">
                                                <span>Name</span>
                                            </dt>
                                            <dd class="col-sm-8">
                                                <p>{{SubscriberDetail.firstname}} {{SubscriberDetail.lastname}}</p>
                                            </dd>
                                        </dl>
                                        <dl class="row my-0 info-student-topic">
                                            <dt class="col-sm-4">
                                                <span>E-mail</span>
                                            </dt>
                                            <dd class="col-sm-8">
                                                <p>{{SubscriberDetail.user.email}}</p>
                                            </dd>
                                        </dl>
                                        <dl class="row my-0 info-student-topic">
                                            <dt class="col-sm-4">
                                                <span>What do you do</span>
                                            </dt>
                                            <dd class="col-sm-8">
                                                <p>{{SubscriberDetail.job}}</p>
                                            </dd>
                                        </dl>
                                        <dl class="row my-0 info-student-topic">
                                            <dt class="col-sm-4">
                                                <span>Phone Number</span>
                                            </dt>
                                            <dd class="col-sm-8">
                                                <p>{{SubscriberDetail.phoneno}}</p>
                                            </dd>
                                        </dl>
                                        <dl class="row my-0 info-student-topic">
                                            <dt class="col-sm-4">
                                                <span>Nationality</span>
                                            </dt>
                                            <dd class="col-sm-8">
                                                <p>{{SubscriberDetail.nationality}}</p>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-coursesall" role="tabpanel" aria-labelledby="nav-coursesall-tab">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-md-6 mb-4" *ngFor="let course of courseList" >
                                    <div class="contentCard contentCard--watch-course">
                                        <div class="contentCard-top">
                                            <a ><img src="{{course.course.image}}" alt="images" class="img-fluid rounded" style="image-rendering: optimizeQuality;"/></a>
                                        </div>
                                        <div class="contentCard-bottom">
                                            <h5>
                                                <a  class="font-title--card">{{course.course.title}}</a>
                                            </h5>
                                            <div class="contentCard-info d-flex align-items-center justify-content-between">
                                                <a href="instructor-profile.html" class="contentCard-user d-flex align-items-center">
                                                    <img src="https://eduguard-html.netlify.app/dist/images/courses/7.png" alt="client-image" class="rounded-circle" />
                                                    <p class="font-para--md">{{course.course.publisher?course.course.publisher.name:'hii'}}</p>
                                                </a>
                                                <!-- <div class="contentCard-course--status d-flex align-items-center">
                                                    <span class="percentage">43%</span>
                                                    <p>Finish</p>
                                                </div> -->
                                            </div>
                                            <a class="button button-md button--primary-outline w-100 my-3" routerLink="/course-watches/{{course.course._id}}">Watch Course</a>
                                            <div class="contentCard-watch--progress">
                                                <span class="percentage" style="width: 100%;"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="tab-pane fade" id="nav-setting" role="tabpanel" aria-labelledby="nav-setting-tab">
                            <div class="row">
                                <div class="col-lg-9 order-2 order-lg-0">
                                    <div class="white-bg">
                                        <div class="students-info-form">
                                            <h6 class="font-title--card">Your Information</h6>
                                            <form [formGroup]="profileForm" (ngSubmit)="OnSubmit()">
                                                <div class="row g-3">
                                                    <div class="col-lg-6">
                                                        <label for="fname">First Name</label>
                                                        <input type="text" class="form-control" placeholder="{{SubscriberDetail.firstname}}" value="{{SubscriberDetail.firstname}}" id="fname" formControlName="firstname" />
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label for="lname">Last Name</label>
                                                        <input type="text" class="form-control" placeholder="{{SubscriberDetail.lastname}}" value="{{SubscriberDetail.lastname}}" id="lname" formControlName="lastname"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="email">Email</label>
                                                        <input type="email" id="email" class="form-control" placeholder="{{SubscriberDetail.email}}" value="{{SubscriberDetail.email}}" formControlName="email"/>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="do">What Do You Do</label>
                                                        <input type="text" id="do" class="form-control" placeholder="{{SubscriberDetail.job}}" value="{{SubscriberDetail.job}}" formControlName="job"/>
                                                    </div>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-lg-6">
                                                        <label for="pnumber">Phone Number</label>
                                                        <input type="text" class="form-control" placeholder="{{SubscriberDetail.phoneno}}" value="{{SubscriberDetail.phoneno}}" id="pnumber" formControlName="phoneno"/>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <label for="nationality">Nationality</label>
                                                        <input type="text" class="form-control" placeholder="{{SubscriberDetail.nationality}}" value="{{SubscriberDetail.nationality}}" id="nationality" formControlName="nationality"/>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-lg-end justify-content-center mt-2">
                                                    <button class="button button-lg button--primary" type="submit">Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- <div class="white-bg mt-4">
                                        <div class="students-info-form">
                                            <h6 class="font-title--card">Change Password</h6>
                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="cpass">Current Password</label>
                                                        <div class="input-with-icon">
                                                            <input type="password" id="cpass" class="form-control" placeholder="Enter Password" />
                                                            <div class="input-icon" onclick="showPassword('cpass',this)">
                                                                <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    width="24"
                                                                    height="24"
                                                                    viewBox="0 0 24 24"
                                                                    fill="none"
                                                                    stroke="currentColor"
                                                                    stroke-width="2"
                                                                    stroke-linecap="round"
                                                                    stroke-linejoin="round"
                                                                    class="feather feather-eye"
                                                                >
                                                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                                    <circle cx="12" cy="12" r="3"></circle>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="npass">New Password</label>
                                                        <div class="input-with-icon">
                                                            <input type="password" id="npass" class="form-control" placeholder="Enter Password" />
                                                            <div class="input-icon" onclick="showPassword('npass',this)">
                                                                <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    width="24"
                                                                    height="24"
                                                                    viewBox="0 0 24 24"
                                                                    fill="none"
                                                                    stroke="currentColor"
                                                                    stroke-width="2"
                                                                    stroke-linecap="round"
                                                                    stroke-linejoin="round"
                                                                    class="feather feather-eye"
                                                                >
                                                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                                    <circle cx="12" cy="12" r="3"></circle>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <label for="cnpass">Confirm New Password</label>
                                                        <div class="input-with-icon">
                                                            <input type="password" id="cnpass" class="form-control" placeholder="Enter Password" />
                                                            <div class="input-icon" onclick="showPassword('cnpass',this)">
                                                                <svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    width="24"
                                                                    height="24"
                                                                    viewBox="0 0 24 24"
                                                                    fill="none"
                                                                    stroke="currentColor"
                                                                    stroke-width="2"
                                                                    stroke-linecap="round"
                                                                    stroke-linejoin="round"
                                                                    class="feather feather-eye"
                                                                >
                                                                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                                                                    <circle cx="12" cy="12" r="3"></circle>
                                                                </svg>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex justify-content-lg-end justify-content-center mt-2">
                                                    <button class="button button-lg button--primary" type="submit">Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-lg-3 order-1 order-lg-0 mt-4 mt-lg-0">
                                    <div class="white-bg">
                                        <div class="change-image-wizard">
                                            <div class="image mx-auto">
                                                <img  src="{{ img?img:'https://cdn-icons-png.flaticon.com/512/3135/3135715.png'}}" alt="User" />
                                            </div>
                                            <form action="#">
                                                <div class="d-flex justify-content-center">
                                                    <div class="d-flex justify-content-center">
                                                        <button
                                                          type="button"
                                                          class="btn btn-success"
                                                          mat-raised-button
                                                          (click)="fileInput.click()"
                                                        >
                                                        Change Image
                                                        </button>
                                                        <input
                                                          type="file"
                                                          #fileInput
                                                          multiple
                                                          (change)="detectFiles($event)"
                                                          hidden
                                                        />
                                                      </div>
                                                </div>
                                            </form>
                                            <p>Image size should be under 1MB image ratio 200px.</p>
                                            <br>
                                            <p><b style="cursor: pointer;" (click)="resetpass()"> Reset password</b></p>
                                            <hr>
                                            <p><b style="cursor: pointer;" (click)="Logout()">Logout</b></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <app-footer></app-footer>