<!-- <app-nav></app-nav> -->
<!-- Reset Password Area Starts Here -->
        <section class="section signup-area signin-area section-padding overflow-hidden" style="height: 50vh;">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 order-2 order-lg-0">
                        <h2 class="font-title--md mb-3">Reset Password</h2>
                        <form [formGroup]="resetform" (ngSubmit)="onReset()">

                            <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
                                <mat-label>Password</mat-label>
                                <input matInput type="password"  formControlName="password" />
                            </mat-form-field>
                            <mat-form-field class="example-full-width" appearance="fill" style="width: 100%">
                                <mat-label>Confirm  Password</mat-label>
                                <input matInput type="password"  formControlName="repassword" />
                            </mat-form-field>
                            <div class="form-element">
                                <button type="submit" [disabled]="!resetform.valid" class="button button-lg button--primary w-100">Reset Password</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-7 order-1 order-lg-0">
                        <div class="signup-area-image">
                            <img src="https://eduguard-html.netlify.app/dist/images/signup/Illustration.png" alt="Illustration Image" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Reset Password Area Ends Here -->

        <!-- Dot Images Starts Here -->
        <div class="dot-images">
            <img src="https://eduguard-html.netlify.app/dist/images/shape/dots/dots-img-11.png" alt="shape" class="img-fluid second-dotimage" />
        </div>
        <!-- Dot Images Ends Here -->
