<!-- Banner Starts Here -->
<app-nav></app-nav>
<section
  class="main-banner"
  style="
    background-image: url(https://eduguard-html.netlify.app/dist/images/banner/banner.jpg);
  "
>
  <div class="container">
    <div class="row">
      <div
        class="col-lg-7 mb-lg-0 order-2 order-lg-0 d-flex align-items-center"
      >
        <div class="banner-two-start">
          <h1 class="font-title--lg">Learn with Expert Anytime Anywhere.</h1>
          <p>
            Our mision is to help people to find the best course online and
            learn with expert anytime, anywhere.
          </p>
          <!-- <form>
            <div class="banner-input">
              <div class="main-input">
                <input
                  type="text"
                  placeholder="what do you want to learn today..."
                />
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-search"
                >
                  <circle cx="11" cy="11" r="8"></circle>
                  <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
              </div>
              <div class="search-button">
                <button class="button button-lg button--primary">Search</button>
              </div>
            </div>
          </form> -->
        
        
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-0">
        <div class="main-banner-end">
          <img
            src="https://eduguard-html.netlify.app/dist/images/banner/banner-image-01.png"
            alt="image"
            class="img-fluid"
          />
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Browse Categories Starts Here -->
<section class="section browse-categories">
  <div class="container">
    <h2 class="font-title--md text-center mb-0">
      Browse Course with Top Categories
    </h2>
    <div class="browse-categories__wrapper position-relative">
      <div class="categories--box row">
        <div *ngFor="let catList of catagoryList" class="browse-categories-item default-item-one col-md-2">
          <div class="browse-categories-item-icon">
            <div class="categories-one default-categories">
              <!-- <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M38.3334 31.6667C38.3334 32.5507 37.9822 33.3986 37.3571 34.0237C36.732 34.6488 35.8841 35 35.0001 35H5.00008C4.11603 35 3.26818 34.6488 2.64306 34.0237C2.01794 33.3986 1.66675 32.5507 1.66675 31.6667V13.3333C1.66675 12.4493 2.01794 11.6014 2.64306 10.9763C3.26818 10.3512 4.11603 10 5.00008 10H11.6667L15.0001 5H25.0001L28.3334 10H35.0001C35.8841 10 36.732 10.3512 37.3571 10.9763C37.9822 11.6014 38.3334 12.4493 38.3334 13.3333V31.6667Z"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M19.9999 28.3333C23.6818 28.3333 26.6666 25.3486 26.6666 21.6667C26.6666 17.9848 23.6818 15 19.9999 15C16.318 15 13.3333 17.9848 13.3333 21.6667C13.3333 25.3486 16.318 28.3333 19.9999 28.3333Z"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg> -->
            <img src="{{catList.icon}}" alt="" srcset="">
            </div>
          </div>
          <div class="browse-categories-item-text" >
            <h6 class="font-title--card"><a href="#">{{catList.name}}</a></h6>
          </div>
        </div>     
        <!-- <div class="browse-categories-item default-item-two col-md-2" >
          <div class="browse-categories-item-icon">
            <div class="categories-two default-categories">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M33.3333 5H6.66659C4.82564 5 3.33325 6.49238 3.33325 8.33333V25C3.33325 26.8409 4.82564 28.3333 6.66659 28.3333H33.3333C35.1742 28.3333 36.6666 26.8409 36.6666 25V8.33333C36.6666 6.49238 35.1742 5 33.3333 5Z"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M13.3333 35H26.6666"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20 28.3334V35"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="browse-categories-item-text">
            <h6 class="font-title--card"><a href="#">Development</a></h6>
            <p>17k Courses</p>
          </div>
        </div>
        <div class="browse-categories-item default-item-three col-md-2" >
          <div class="browse-categories-item-icon">
            <div class="categories-three default-categories">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M20 31.6667L31.6667 20L36.6667 25L25 36.6667L20 31.6667Z"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M29.9999 21.6667L27.4999 9.16671L3.33325 3.33337L9.16659 27.5L21.6666 30L29.9999 21.6667Z"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M3.33325 3.33337L15.9766 15.9767"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M18.3333 21.6667C20.1743 21.6667 21.6667 20.1743 21.6667 18.3333C21.6667 16.4924 20.1743 15 18.3333 15C16.4924 15 15 16.4924 15 18.3333C15 20.1743 16.4924 21.6667 18.3333 21.6667Z"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="browse-categories-item-text">
            <h6 class="font-title--card"><a href="#">Design</a></h6>
            <p>23k Courses</p>
          </div>
        </div>
        <div class="browse-categories-item default-item-four col-md-2">
          <div class="browse-categories-item-icon">
            <div class="categories-four default-categories">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 30V20C5 16.0218 6.58035 12.2064 9.3934 9.3934C12.2064 6.58035 16.0218 5 20 5C23.9782 5 27.7936 6.58035 30.6066 9.3934C33.4196 12.2064 35 16.0218 35 20V30"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M35 31.6667C35 32.5508 34.6488 33.3986 34.0237 34.0237C33.3986 34.6489 32.5507 35 31.6667 35H30C29.1159 35 28.2681 34.6489 27.643 34.0237C27.0179 33.3986 26.6667 32.5508 26.6667 31.6667V26.6667C26.6667 25.7827 27.0179 24.9348 27.643 24.3097C28.2681 23.6846 29.1159 23.3334 30 23.3334H35V31.6667ZM5 31.6667C5 32.5508 5.35119 33.3986 5.97631 34.0237C6.60143 34.6489 7.44928 35 8.33333 35H10C10.8841 35 11.7319 34.6489 12.357 34.0237C12.9821 33.3986 13.3333 32.5508 13.3333 31.6667V26.6667C13.3333 25.7827 12.9821 24.9348 12.357 24.3097C11.7319 23.6846 10.8841 23.3334 10 23.3334H5V31.6667Z"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="browse-categories-item-text">
            <h6 class="font-title--card"><a href="#">Music</a></h6>
            <p>297 Courses</p>
          </div>
        </div>
        <div class="browse-categories-item default-item-five col-md-2" >
          <div class="browse-categories-item-icon">
            <div class="categories-five default-categories">
              <svg
                width="40"
                height="40"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M35 26.6667V13.3334C34.9994 12.7488 34.8451 12.1747 34.5526 11.6686C34.26 11.1626 33.8396 10.7423 33.3333 10.45L21.6667 3.78337C21.1599 3.49081 20.5851 3.33679 20 3.33679C19.4149 3.33679 18.8401 3.49081 18.3333 3.78337L6.66667 10.45C6.16044 10.7423 5.73997 11.1626 5.44744 11.6686C5.1549 12.1747 5.0006 12.7488 5 13.3334V26.6667C5.0006 27.2513 5.1549 27.8254 5.44744 28.3314C5.73997 28.8375 6.16044 29.2578 6.66667 29.55L18.3333 36.2167C18.8401 36.5093 19.4149 36.6633 20 36.6633C20.5851 36.6633 21.1599 36.5093 21.6667 36.2167L33.3333 29.55C33.8396 29.2578 34.26 28.8375 34.5526 28.3314C34.8451 27.8254 34.9994 27.2513 35 26.6667Z"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5.44995 11.6L20 20.0166L34.5499 11.6"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M20 36.8V20"
                  stroke="currentColor"
                  stroke-width="3"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
          <div class="browse-categories-item-text">
            <h6 class="font-title--card"><a href="#">Marketing</a></h6>
            <p>2k Courses</p>
          </div>
        </div> -->
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a routerLink="/course-search" class="button button-lg button--primary"
          >Browse all Courses</a
        >
      </div>
    </div>
  </div>
  <div class="browse-categories-shape">
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/dots/dots-img-11.png"
      alt="shape"
      class="img-fluid shape-01"
    />
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/line01.png"
      alt="shape"
      class="img-fluid shape-02"
    />
  </div>
</section>

<!--  Popular Courses Starts Here -->
<section
  class="section section--bg-offwhite-three featured-popular-courses main-popular-course"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div
          class="featured-popular-courses-heading d-flex align-content-center justify-content-between"
        >
          <div class="main-heading">
            <h3 class="font-title--md">Our Popular Courses</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="tab-content" id="pills-tabContent">
        <div
          class="tab-pane fade show active"
          id="pills-all"
          role="tabpanel"
          aria-labelledby="pills-all-tab"
        >
          <div class="row">
            <div class="col-xl-4 col-md-6" *ngFor="let course of courseList">
              <div class="contentCard contentCard--course">
                <div class="contentCard-top">
                  <a routerLink="/course-details/{{course._id}}"
                    ><img
                      [src]="course.image?course.image:'https://eduguard-html.netlify.app/dist/images/courses/demo-img-01.png'"
                      alt="{{course.image}}"
                      class="img-fluid img-"
                  /></a>
                </div>
                <div class="contentCard-bottom">
                  <h5>
                    <a 
                     routerLink="/course-details/{{course._id}}"
                     class="font-title--card"
                      >{{course.title}}</a
                    >
                  </h5>
                  <div
                    class="contentCard-info d-flex align-items-center justify-content-between"
                  >
                    <a
                      routerLink="/instructor-profile/{{course.publisher._id}}"
                      class="contentCard-user d-flex align-items-center"
                    >
                      <img
                        src="{{course.publisher.image?course.publisher.image:'https://eduguard-html.netlify.app/dist/images/courses/profile.png'}}"
                        alt="client-image"
                        class="rounded-circle"
                        height="40px"
                      />
                      <p class="font-para--md">{{course.publisher.name}}</p>
                    </a>
                    <div class="price">
                      <span>{{course.price | currency:'INR'}}</span>
                    </div>
                  </div>
                  <!-- <div class="contentCard-more">
                    <div class="d-flex align-items-center">
                      <div class="icon">
                        <img
                          src="https://eduguard-html.netlify.app/dist/images/icon/star.png"
                          alt="star"
                        />
                      </div>
                      <span>4.5</span>
                    </div>
                    <div class="eye d-flex align-items-center">
                      <div class="icon">
                        <img
                          src="https://eduguard-html.netlify.app/dist/images/icon/eye.png"
                          alt="eye"
                        />
                      </div>
                      <span>24,517</span>
                    </div>
                    <div class="book d-flex align-items-center">
                      <div class="icon">
                        <img
                          src="https://eduguard-html.netlify.app/dist/images/icon/book.png"
                          alt="location"
                        />
                      </div>
                      <span>37 Lesson</span>
                    </div>
                    <div class="clock d-flex align-items-center">
                      <div class="icon">
                        <img
                          src="https://eduguard-html.netlify.app/dist/images/icon/Clock.png"
                          alt="clock"
                        />
                      </div>
                      <span>3 Hours</span>
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-lg-12 text-center">
              <a
                routerLink="/course-search"
                class="button button-lg button--primary"
                >Browse all Courses</a
              >
            </div>
          </div>
        </div>
        <div
          class="tab-pane fade"
          id="pills-its"
          role="tabpanel"
          aria-labelledby="pills-its-tab"
        >
          <div class="row">
            <div class="col-lg-12 text-center">
              <a
              routerLink="course-search"
                class="button button-lg button--primary"
                >Browse all Courses</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="featured-popular-courses-shape">
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/dots/dots-img-12.png"
      alt="Shape"
      class="img-fluid dot-06"
    />
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/triangel.png"
      alt="Shape"
      class="img-fluid dot-07"
    />
  </div>
</section>

<section class="section feature section section--bg-offwhite-one">
  <div class="container">
    <h2 class="font-title--md text-center">Why You'll Learn with Eduguard</h2>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="cardFeature">
          <div class="cardFeature__icon cardFeature__icon--bg-g">
            <svg
              width="32"
              height="28"
              viewBox="0 0 32 28"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2 2H10.4C11.8852 2 13.3096 2.5619 14.3598 3.5621C15.41 4.56229 16 5.91885 16 7.33333V26C16 24.9391 15.5575 23.9217 14.7699 23.1716C13.9822 22.4214 12.9139 22 11.8 22H2V2Z"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M30 2H21.6C20.1148 2 18.6904 2.5619 17.6402 3.5621C16.59 4.56229 16 5.91885 16 7.33333V26C16 24.9391 16.4425 23.9217 17.2302 23.1716C18.0178 22.4214 19.0861 22 20.2 22H30V2Z"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <h5 class="font-title--xs">250k online course</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sed
            commodo enim Fusce sed.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="cardFeature">
          <div class="cardFeature__icon cardFeature__icon--bg-b">
            <svg
              width="28"
              height="27"
              viewBox="0 0 28 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.3855 12.224C21.8743 12.224 23.8915 10.2067 23.8915 7.71794C23.8915 5.23054 21.8743 3.21191 19.3855 3.21191"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M21.4575 17.1211C22.201 17.1717 22.939 17.2783 23.6675 17.4395C24.6775 17.6404 25.8938 18.0546 26.3257 18.9607C26.6018 19.5415 26.6018 20.218 26.3257 20.7989C25.8952 21.705 24.6775 22.1191 23.6675 22.3269"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5994 18.0913C15.6425 18.0913 19.9504 18.8553 19.9504 21.9071C19.9504 24.9604 15.6699 25.7503 10.5994 25.7503C5.55624 25.7503 1.24976 24.9877 1.24976 21.9345C1.24976 18.8813 5.52891 18.0913 10.5994 18.0913Z"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M10.5993 13.7349C7.27274 13.7349 4.60767 11.0684 4.60767 7.74188C4.60767 4.41669 7.27274 1.75024 10.5993 1.75024C13.9259 1.75024 16.5923 4.41669 16.5923 7.74188C16.5923 11.0684 13.9259 13.7349 10.5993 13.7349Z"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <h5 class="font-title--xs">Expert Instructors</h5>
          <p>
            Vivamus interdum neque massa, eget mattis mi gravida eget. Donec et
            dictum justo. Vivamus interdum.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="cardFeature">
          <div class="cardFeature__icon cardFeature__icon--bg-r">
            <svg
              width="27"
              height="27"
              viewBox="0 0 27 27"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M25.2502 13.2495C25.2502 19.8774 19.8781 25.2495 13.2502 25.2495C6.62235 25.2495 1.25024 19.8774 1.25024 13.2495C1.25024 6.62162 6.62235 1.24951 13.2502 1.24951C19.8781 1.24951 25.2502 6.62162 25.2502 13.2495Z"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M17.7021 17.0667L12.8113 14.1491V7.86108"
                stroke="currentColor"
                stroke-width="2.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <h5 class="font-title--xs">Lifetime Access</h5>
          <p>
            Vivamus cursus libero quis lobortis mattis. Suspendisse in malesuada
            mi. Maecenas vel euismod turpis.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--  Learning Rules Starts Here -->
<section class="section learning-rules">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-2 order-lg-0">
        <div class="learning-rules-starts">
          <h2 class="font-title--md">
            Eduguard Simple <br class="d-none d-md-block" />
            Learning Steps
          </h2>
          <div class="learning-rules__wrapper">
            <div class="learning-rules-item">
              <div class="item-number"><span>01.</span></div>
              <div class="item-text">
                <h6>Make Your Own Place.</h6>
                <p>
                  Fusce dictum, velit eu placerat consectetur, ante nisl auctor
                  magna, sit amet fringilla urna nibh a risus.
                </p>
              </div>
            </div>
            <div class="learning-rules-item">
              <div class="item-number"><span>02.</span></div>
              <div class="item-text">
                <h6>Find Best Course With Better Filtter.</h6>
                <p>
                  Morbi id est a risus sollicitudin maximus. Fusce lorem neque,
                  tincidunt vel rhoncus eget, convallis ullamcorper sem.
                </p>
              </div>
            </div>
            <div class="learning-rules-item">
              <div class="item-number"><span>03.</span></div>
              <div class="item-text">
                <h6>And Become a Master in Your Field.</h6>
                <p>
                  Sed pulvinar dignissim neque, ac consectetur urna tincidunt
                  vel. Sed congue nulla sed tempus ultrices.
                </p>
              </div>
            </div>
          </div>
          <a routerLink="/course-search" class="button button-lg button--primary"
            >Start Learning</a
          >
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="learning-rules-ends">
          <img
            src="https://eduguard-html.netlify.app/dist/images/hero/hero-img-01.jpg"
            alt="img"
            class="img-fluid"
          />
          <div class="learning-rules-ends-circle">
            <img
              src="https://eduguard-html.netlify.app/dist/images/shape/l03.png"
              alt="shape"
              class="img-fluid"
            />
          </div>
          <div class="earning-rules-ends-shape">
            <img
              src="https://eduguard-html.netlify.app/dist/images/shape/l04.png"
              alt="shape"
              class="img-fluid shape-1"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="learning-rules-shape">
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/dots/dots-img-16.png"
      alt="shape"
      class="img-fluid shape-01"
    />
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/l02.png"
      alt="shape"
      class="img-fluid shape-02"
    />
  </div>
</section>

<!--  About Services Starts Here -->
<!-- <section class="section about-services section section--bg-offgradient">
  <div class="container about-services-area">
    <div class="row">
      <div class="col-lg-6 text-center mx-auto">
        <h2 class="font-title--md">
          What Our Students Says About our Services
        </h2>
      </div>
    </div>
    <div class="testimonial testimonial--one testimonial__slider--one">
      <div class="testimonial__item">
        <p>
          “Nam hendrerit quam eu neque egestas, nec lobortis enim rutrum.
          Quisque ligula tortor, mollis a efficitur vitae, imperdiet et mauris.
          Nam in orci quis risus dapibus mollis.“
        </p>
        <div class="testimonial__user-wrapper d-flex justify-content-between">
          <div class="testimonial__user d-flex align-items-center">
            <div class="testimonial__user-img">
              <img
                src="https://eduguard-html.netlify.app/dist/images/avatar/avatar-img-01.png"
                alt="Client"
              />
            </div>
            <div class="testimonial__user-info">
              <h6>Sheikh Rashed</h6>
              <span class="font-para--md">UI/UX Student</span>
            </div>
          </div>
          <ul class="testimonial__item-star d-flex align-items-center">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="testimonial__item">
        <p>
          “Nam hendrerit quam eu neque egestas, nec lobortis enim rutrum.
          Quisque ligula tortor, mollis a efficitur vitae, imperdiet et mauris.
          Nam in orci quis risus dapibus mollis.“
        </p>
        <div class="testimonial__user-wrapper d-flex justify-content-between">
          <div class="testimonial__user d-flex align-items-center">
            <div class="testimonial__user-img">
              <img
                src="https://eduguard-html.netlify.app/dist/images/avatar/avatar-img-01.png"
                alt="Client"
              />
            </div>
            <div class="testimonial__user-info">
              <h6>Dev Zakir</h6>
              <span class="font-para--md">UI/UX Student</span>
            </div>
          </div>
          <ul class="testimonial__item-star d-flex align-items-center">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
          </ul>
        </div>
      </div>
      <div class="testimonial__item">
        <p>
          “Nam hendrerit quam eu neque egestas, nec lobortis enim rutrum.
          Quisque ligula tortor, mollis a efficitur vitae, imperdiet et mauris.
          Nam in orci quis risus dapibus mollis.“
        </p>
        <div class="testimonial__user-wrapper d-flex justify-content-between">
          <div class="testimonial__user d-flex align-items-center">
            <div class="testimonial__user-img">
              <img
                src="https://eduguard-html.netlify.app/dist/images/avatar/avatar-img-01.png"
                alt="Client"
              />
            </div>
            <div class="testimonial__user-info">
              <h6>Dev Taher</h6>
              <span class="font-para--md">UI/UX Student</span>
            </div>
          </div>
          <ul class="testimonial__item-star d-flex align-items-center">
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
            <li>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="currentColor"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-star"
              >
                <polygon
                  points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"
                ></polygon>
              </svg>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="about-services-shape">
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/line02.png"
      alt="shape"
      class="img-fluid img-shape-01"
    />
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/dots/dots-img-13.png"
      alt="shape"
      class="img-fluid img-shape-02"
    />
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/l02.png"
      alt="shape"
      class="img-fluid img-shape-03"
    />
  </div>
  <div class="container overflow-hidden">
    <div class="row mb-40">
      <div class="col-lg-6 mx-auto text-center brands-area-two-heading">
        <h4>Over 30,000+ Schools & College Learning With Us.</h4>
        <p>
          Proin euismod elementum dolor, non iaculis velit mollis sed. In
          eleifend urna sit amet purus congue.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="brand-area row">
          <div class="brand-area-image col-md-2">
            <img
              src="https://eduguard-html.netlify.app/dist/images/versity/1.png"
              alt="Brand"
              class="img-fluid"
            />
          </div>
          <div class="brand-area-image col-md-2">
            <img
              src="https://eduguard-html.netlify.app/dist/images/versity/2.png"
              alt="Brand"
              class="img-fluid"
            />
          </div>
          <div class="brand-area-image col-md-2">
            <img
              src="https://eduguard-html.netlify.app/dist/images/versity/3.png"
              alt="Brand"
              class="img-fluid"
            />
          </div>
          <div class="brand-area-image col-md-2">
            <img
              src="https://eduguard-html.netlify.app/dist/images/versity/4.png"
              alt="Brand"
              class="img-fluid"
            />
          </div>
          <div class="brand-area-image col-md-2">
            <img
              src="https://eduguard-html.netlify.app/dist/images/versity/2.png"
              alt="Brand"
              class="img-fluid"
            />
          </div>
          <div class="brand-area-image col-md-2">
            <img
              src="https://eduguard-html.netlify.app/dist/images/versity/5.png"
              alt="Brand"
              class="img-fluid"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-- Best Instructors Starts Here -->
<section
  class="section best-instructor-featured overflow-hidden main-instructor-featured"
>
  <div class="main-instructor-featured-shape">
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/dots/dots-img-14.png"
      alt="shape"
      class="img-fluid shape01"
    />
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/triangel2.png"
      alt="shape"
      class="img-fluid shape02"
    />
  </div>
</section>

<!--  Latest Events Featured Starts Here -->
<!-- <section
  class="section section--bg-offwhite-three latest-events-featured main-events-featured"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-title--md">Latest Events</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12 position-relative px-0 mx-0">
        <div class="eventsSlider">
          <div class="contentCard contentCard--event contentCard--space">
            <div class="contentCard-top">
              <a href="course-details.html"
                ><img
                  src="https://eduguard-html.netlify.app/dist/images/courses/demo-img-01.png"
                  alt="images"
                  class="img-fluid"
              /></a>
            </div>
            <div class="contentCard-bottom">
              <h5>
                <a href="course-details.html" class="font-title--card"
                  >Chicago International Conference on Education</a
                >
              </h5>
              <div class="contentCard-more">
                <div class="d-flex align-items-center">
                  <div class="icon">
                    <img
                      src="https://eduguard-html.netlify.app/dist/images/icon/Location.png"
                      alt="location"
                    />
                  </div>
                  <span>Chicago, Illinois</span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="icon">
                    <img
                      src="https://eduguard-html.netlify.app/dist/images/icon/calendar.png"
                      alt="calendar"
                    />
                  </div>
                  <span>29th jan, 2020</span>
                </div>
              </div>
            </div>
          </div>
          <div class="contentCard contentCard--event contentCard--space">
            <div class="contentCard-top">
              <a href="course-details.html"
                ><img
                  src="https://eduguard-html.netlify.app/dist/images/courses/demo-img-02.png"
                  alt="images"
                  class="img-fluid"
              /></a>
            </div>
            <div class="contentCard-bottom">
              <h5>
                <a href="course-details.html" class="font-title--card"
                  >Chicago International Conference on Education</a
                >
              </h5>
              <div class="contentCard-more">
                <div class="d-flex align-items-center">
                  <div class="icon">
                    <img
                      src="https://eduguard-html.netlify.app/dist/images/icon/Location.png"
                      alt="location"
                    />
                  </div>
                  <span>Chicago, Illinois</span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="icon">
                    <img
                      src="https://eduguard-html.netlify.app/dist/images/icon/calendar.png"
                      alt="calendar"
                    />
                  </div>
                  <span>29th jan, 2020</span>
                </div>
              </div>
            </div>
          </div>
          <div class="contentCard contentCard--event contentCard--space">
            <div class="contentCard-top">
              <a href="course-details.html"
                ><img
                  src="https://eduguard-html.netlify.app/dist/images/courses/demo-img-03.png"
                  alt="images"
                  class="img-fluid"
              /></a>
            </div>
            <div class="contentCard-bottom">
              <h5>
                <a href="course-details.html" class="font-title--card"
                  >Chicago International Conference on Education</a
                >
              </h5>
              <div class="contentCard-more">
                <div class="d-flex align-items-center">
                  <div class="icon">
                    <img
                      src="https://eduguard-html.netlify.app/dist/images/icon/Location.png"
                      alt="location"
                    />
                  </div>
                  <span>Chicago, Illinois</span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="icon">
                    <img
                      src="https://eduguard-html.netlify.app/dist/images/icon/calendar.png"
                      alt="calendar"
                    />
                  </div>
                  <span>29th jan, 2020</span>
                </div>
              </div>
            </div>
          </div>
          <div class="contentCard contentCard--event contentCard--space">
            <div class="contentCard-top">
              <a href="course-details.html"
                ><img
                  src="https://eduguard-html.netlify.app/dist/images/courses/demo-img-04.png"
                  alt="images"
                  class="img-fluid"
              /></a>
            </div>
            <div class="contentCard-bottom">
              <h5>
                <a href="course-details.html" class="font-title--card"
                  >Chicago International Conference on Education</a
                >
              </h5>
              <div class="contentCard-more">
                <div class="d-flex align-items-center">
                  <div class="icon">
                    <img
                      src="https://eduguard-html.netlify.app/dist/images/icon/Location.png"
                      alt="location"
                    />
                  </div>
                  <span>Chicago, Illinois</span>
                </div>
                <div class="d-flex align-items-center">
                  <div class="icon">
                    <img
                      src="https://eduguard-html.netlify.app/dist/images/icon/calendar.png"
                      alt="calendar"
                    />
                  </div>
                  <span>29th jan, 2020</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a
          href="event-search.html"
          class="button button-lg button--primary mt-lg-5 mt-5"
          >Browse all events</a
        >
      </div>
    </div>
  </div>
  <div class="main-events-featured-shape">
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/triangel3.png"
      alt="shape"
      class="img-fluid shape01"
    />
  </div>
</section> -->

<!--  Main Become Instructor Starts Here -->
<!-- <section class="section main-become-instructor">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="main-become-instructor-item me-12">
          <div class="main-image">
            <img
              src="https://eduguard-html.netlify.app/dist/images/event/image01.png"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="main-text">
            <h6 class="font-title--sm">Become an Instructor</h6>
            <p>
              Praesent ultricies nulla ac congue bibendum. Aliquam tempor
              euismod purus posuere gravida. Praesent augue sapien, vulputate eu
              imperdiet eget, tempor at enim.
            </p>
            <div class="text-center">
              <a href="become-instructor.html" class="green-btn"
                >Apply as Instructor</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="main-become-instructor-item ms-12 mb-0">
          <div class="main-image">
            <img
              src="https://eduguard-html.netlify.app/dist/images/event/image02.png"
              alt="image"
              class="img-fluid"
            />
          </div>
          <div class="main-text">
            <h6 class="font-title--sm">Use Eduguard For Business</h6>
            <p>
              Praesent ultricies nulla ac congue bibendum. Aliquam tempor
              euismod purus posuere gravida. Praesent augue sapien, vulputate eu
              imperdiet eget, tempor at enim.
            </p>
            <div class="text-center">
              <a href="#" class="green-btn">Get Eduguard For Business</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-become-instructor-shape">
    <img
      src="https://eduguard-html.netlify.app/dist/images/shape/line03.png"
      alt="shape"
      class="img-fluid"
    />
  </div>
</section> -->

<!-- News Letter Starts Here -->
<!-- <section  style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="newsletter-area">
          <h4>Subscribe our Newsletter</h4>
          <p class="mt-2 mb-lg-4 mb-3">
            Duis posuere maximus arcu eu tincidunt. Nam rutrum, nibh vitae
            tempus venenatis, ex tortor ultricies magna, et faucibus magna eros
            quis arcu.
          </p>
          <form>
            <div class="input-group">
              <input
                type="email"
                class="form-control border-lowBlack"
                placeholder="Your email"
              />
              <button class="button button-lg button--primary" type="button">
                Subscribe
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section> -->
<app-footer></app-footer>