<nav class="main-header navbar navbar-expand navbar-white navbar-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" data-widget="pushmenu" href="#" role="button"
        ><i class="fas fa-bars"></i
      ></a>
    </li>
  </ul>
<ul class="navbar-nav ml-auto">
   <li class="nav-item">
      <a class="nav-link" data-widget="fullscreen" role="button">
        <i class="fas fa-expand-arrows-alt"></i>
      </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-widget="control-sidebar" data-controlsidebar-slide="true" href="#" role="button">
          <i class="fas fa-th-large"></i>
        </a>
      </li>
  </ul>
</nav>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a class="brand-link">
    <img
      src="https://images.squarespace-cdn.com/content/v1/5f88df2ac31d6854aa31303b/1607793887631-X4PP4F27ZNI6XO6QZQC5/The+Future+Perfect+Social+Logo-02.png"
      alt="AdminLTE Logo"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light" routerLink="/" style="cursor: pointer;">Online Course</span>
  </a>
<div class="sidebar">
 <nav class="mt-2">
      <ul
        class="nav nav-pills nav-sidebar flex-column"
        data-widget="treeview"
        role="menu"
        data-accordion="false"
      >
        <li class="nav-item">
          <a  class="nav-link active" style="background-color: gray;">
            <!-- <i class="fas fa-angle-left right info"></i> -->
            <img
              src="https://i.pinimg.com/474x/4b/71/f8/4b71f8137985eaa992d17a315997791e.jpg"
              class="img-circle elevation-2"
              alt="User Image"
              height="35px"
            />
            <p style="cursor: pointer; margin-left: 10px">{{ UserData?UserData.name:'publisher' }}</p>
          </a>
        </li>
        <li class="nav-item">
          <a style="cursor: pointer;" (click)="profile()" class="nav-link" >
            <i class="fas fa-shield-alt" style="font-size: 20px"></i>
            <p style="margin-left: 10px">Profile setting</p>
          </a>
        </li>
        <li class="nav-item">
          <a style="cursor: pointer;" (click)="open()" class="nav-link">
            <i class="nav-icon fas fa-key"></i>
            <p>Reset Password</p>
          </a>
        </li>
        <li class="nav-item">
          <a style="cursor: pointer;" class="nav-link" (click)="onLogout()">
            <i class="fas fa-sign-out-alt" style="font-size: 20px"></i>
            <p style="margin-left: 10px">logout</p>
          </a>
        </li>
        <hr style="background-color: white;">
          
        <li class="nav-item menu-open">
          <a routerLinkActive="active" routerLink="../publisher-dashboard" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a routerLinkActive="active" routerLink="../publisher-subscriber" class="nav-link ">
            <i class="nav-icon fas fa-users"></i>
            <p>Subscriber</p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a routerLinkActive="active" routerLink="../publisher-tutorial" class="nav-link">
            <i class="nav-icon fas fa-book-open	"></i>
            <p>Tutorial</p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a routerLinkActive="active" routerLink="../publisher-Course" class="nav-link">
            <i class="nav-icon fas fa-chalkboard-teacher"></i>
            <p>Course</p>
          </a>
        </li>
        <!-- <li class="nav-item menu-open" >
          <a routerLinkActive="active"  routerLink="../publisher-doubts" class="nav-link ">
            <i class="nav-icon fas fa-handshake"></i>
            <p>Doubts</p>
          </a>
        </li> -->
        <li class="nav-item menu-open">
          <a routerLinkActive="active" routerLink="../publisher-sales" class="nav-link ">
            <i class="nav-icon fas fa-comment-dollar"></i>
            <p>Sales</p>
          </a>
        </li>
        <li class="nav-item menu-open">
          <a routerLinkActive="active" routerLink="../publisher-rating" class="nav-link ">
            <i class="nav-icon fas fa-star"></i>
            <p>Rating & Review</p>
          </a>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>