<div class="wrapper">
    <!-- Preloader -->
    <!-- <div class="preloader flex-column justify-content-center align-items-center">
          <img class="animation__shake" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ab/Android_O_Preview_Logo.png/1024px-Android_O_Preview_Logo.png" alt="AdminLTELogo" height="60" width="60">
        </div> -->
  
    <app-publisher-nav></app-publisher-nav>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Sales</h1>
            </div>
            <!-- /.col -->
            <!-- <div class="col-sm-6">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                  </ol>
                </div> -->
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <!-- Main content -->
            <!-- <section class="content"> -->
            <!-- <div class="container-fluid"> -->
            <!-- <div class="row"> -->
            <!-- <div class="col-md-12"> -->
  
            <!-- /.card -->
  
            <div
              class="card"
              style="width: 100%; border-top: solid rgb(150, 150, 151)"
            >
              <div class="card-header">
                <h1 class="card-title" style="padding: 10px">
                  <!-- <h1 class="" style="padding: 10px;"> -->
                  <!-- <i class="fa-duotone fa-list-timeline"></i> -->
  
                  Sales list
                  <!-- </h1> -->
                </h1>
                <!-- <button
                    style="float: right; margin-left: 2px"
                    class="btn btn-info"
                    data-widget="control-sidebar"
                    data-controlsidebar-slide="true"
                  >
                    <i class="fa-solid fa-filter"></i>
                    filter
                  </button> -->
                <!-- <button
                    style="float: right"
                    class="btn btn-primary"
                    (click)="onCreate()"
                  >
                    + Add
                  </button>
     -->
              <div style="float: right; margin-left: 2px;">
               
               
                <button class="btn btn-primary" (click)="exportAsXLSX()">export As XLSX</button>
              </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <div class="table-responsive">
                  <!-- <table datatable [dtOptions]="dtOptions" class="row-border hover">
                      <thead>
                        <tr>
                          <th>Sr</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>phoneno</th>
                        </tr>
                      </thead>
                      <tbody *ngIf="persons?.length != 0">
                        <tr *ngFor="let person of persons;let i=index">
                          <td>{{i+1}}</td>
                          <td>{{ person.name }}</td>
                          <td>{{ person.user?person.user.email:'abc@123' }}</td>
                          <td>{{ person.phoneno }}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="persons?.length == 0">
                        <tr>
                          <td colspan="3" class="no-data-available">No data!</td>
                        </tr>
                      </tbody>
                    </table> -->
                  <!-- <br><br> -->
                  <table
                    datatable
                    class="table table-hover"
                    style="min-height: 300px"
                  >
                    <thead align="center">
                      <tr>
                        <th>Sr</th>
                        <th>Name</th>
                        <th>Course</th>
                        <th>Date</th>
                        <th>price</th>
                      </tr>
                    </thead>
                    <tbody align="center">
                      <tr *ngFor="let list of Limitlist; let index = index">
                        <td>{{ index + 1 }}</td>
                        <td>{{ list[0].user.name }}</td>
                        <td>{{ list[0].course.title}}</td>
                        <td>{{ list[0].date | date }}</td>
                        <td><span class="badge" style="width: fit-content;background-color: green;">{{ list[0].course.price |currency:"INR" }}</span> </td>
                      </tr>
                    </tbody>
                  </table>
                  <div style="float: left">
                    <p>
                      <b>{{ rowsLength }}</b> Records
                    </p>
                  </div>
                  <form [formGroup]="filterForm" (ngSubmit)="onApply()" style="float: right;border-radius: 50px;">
                    <!-- <select name="" id="" class="form-control"  formControlName="sortby">
                      <option value="name">Name</option>
                      <option value="dob">Birthdate</option>
                      <option value="gender">Gender</option>
                      <option value="mobileno">Mobileno</option>
                    </select>
                    <select name="" id="" class="form-control" formControlName="sortwith">
                      <option value="Assending">Assending</option>
                      <option value="Desending">Desending</option>
                    </select> -->
                     <mat-select style="width: 200px;padding: 5px; ;" formControlName="sortby" placeholder="Sort column">
                    <mat-option value="name">Name</mat-option>
                    <mat-option value="course">Course</mat-option>
                    <mat-option value="date">Date</mat-option>
                    <mat-option value="price">price</mat-option>
                    </mat-select>
                  <mat-select style="width: 200px;padding: 5px;" formControlName="sortwith" placeholder="Sort Type">
                    <mat-option value="Assending" >Assending</mat-option>
                    <mat-option value="Desending">Dissending</mat-option>
                  </mat-select>
                    <button
                      class="btn btn-outline-dark form-control"
                      style="width: 100px;"
                      type="submit"
                    >
                      Apply
                    </button>
                  </form>
                  <br /><br />
                  <div
                    align="center"
                    style="width: 100%"
                    *ngIf="subscriberlist != ''"
                  >
                    <div class="pagination">
                      <a style="cursor: pointer" (click)="getpagedata(0)"
                        >&laquo;</a
                      >
                      <a
                        style="cursor: pointer"
                        [ngClass]="{ aactive: pageActive(index) }"
                        *ngFor="let a of fakearray; let index = index"
                        (click)="getpagedata(index)"
                        >{{ index + 1 }}</a
                      >
                      <a
                        style="cursor: pointer"
                        (click)="getpagedata(paggerno - 1)"
                        >&raquo;</a
                      >
                    </div>
                  </div>
  
                  <div
                    *ngIf="subscriberlist == ''"
                    class="emptydata"
                    style="width: 100%"
                    align="center"
                  >
                    <!-- <iframe src="https://embed.lottiefiles.com/animation/85023" style="border: 0px; height:300px;width: 100%;"></iframe>  -->
  
                    <img
                      src="https://cdn.iconscout.com/icon/free/png-256/data-not-found-1965034-1662569.png"
                      alt=""
                      srcset=""
                    />
                  </div>
                </div>
              </div>
              <!-- /.card-body -->
            </div>
  
            <!-- /.card -->
          </div>
          <!-- /.col -->
          <!-- </div> -->
          <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->
      <!-- </div> -->
      <!-- /.content-wrapper -->
  
      <!-- </div>/.container-fluid -->
      <!-- </section> -->
  
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <strong>Copyright &copy; 2014-2021.</strong>
      All rights reserved.
      <div class="float-right d-none d-sm-inline-block"><b>Version</b> 2.0</div>
    </footer>
  
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark" style="padding: 20px">
    </aside>
    <!-- /.control-sidebar -->
  </div>
  <!-- ./wrapper -->
  